#__next > div > div > div:nth-child(2) > div
{

 background-color: #0688ba;
  background: url('/static/mak4.jpg') no-repeat;
 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
 background-origin: inherit;
 position: relative;

}
#__next > div > div > div:nth-child(2) > div > div.ui.large.inverted.pointing.secondary.menu
{
    border-width: 0mm;
}